.task__modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid gold;
  border-radius: 20px;
}

.geography__sorting {
  width: 430px;
  height: 350px;
}

.geography__explanation {
  margin: 0;
}

.sorting__container {
  display: flex;
  align-self: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
}

.sorting__item {
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
  cursor: pointer;
  user-select: none;
  border: 1px solid gold;
  border-radius: 3px;
  text-align: center;
}

.answer__btn {
  display: inline-block;
  width: 45%;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
    
.answer__btn:hover {
  filter: saturate(2);
}


