.task__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid gold;
  border-radius: 20px;
}
  
.programming__gaps {
  width: 500px;
  height: 200px;
}
  
.programming__explanation {
  margin: 0;
}
  
.gaps__container {
  display: flex;
  justify-content: center;
}

.gaps__value {
  font-size: 18px;
}

.gaps__output {
  color: gray;
  margin-left: 10px;
}
  
.gaps__input {
  display: block;
  width: 80px;
  margin: 0 3px;
  border: 1px solid gold;
  border-radius: 3px;
  text-align: center;
}
  
.answer__btn {
  display: inline-block;
  width: 45%;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
      
.answer__btn:hover {
  filter: saturate(2);
}
  
